* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;   
}

.color-orange {
    color: #FD6E0A;
}

/* Main Style */

header {
    background-color:#FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font: 20px;
    color: #474747;
    text-decoration: none;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer; 
}

#banner{
    
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}


#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
    text-align: center;
    
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding-bottom: 131px;
}

#about .section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    padding-top: 131px;
}

#about .section-heading p {
    padding-top: 30px;
    font-size: 18px;
    padding-left: 156px;
    padding-right: 157px;
    line-height: 30px;
}

#about .about-container .about-info{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-right: 178.5px;
    padding-left: 179.5px;
    
}

.about-info .info-card p {
    line-height: 30px;
    font-size: 20px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}

#skills {
    padding-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

#skills .skills-container .section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

#skills .skills-container .section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000010;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    margin-bottom: 20px;
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}

.skill-card p {
    font-size: 16px;
    line-height: 18px;
    color: #757575;
}

#resume .section-heading {
    text-align: center;

}

#resume {
    padding-top: 130px;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card {
   max-width: 511px;
   margin-right: 47px; 
}

.resume-card h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}
.resume-card .education-name {
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .education-detail {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

#resume .resume-container hr {
    margin: 30px 0;
}





